/*Esto es una grilla para toda la página. Mi idea es ir acomodando las cosas en base a esta grilla
para poder guiarme con la grilla que tenemos en Figma y ubicar bien los elementos*/
.grilla{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;

    /*Areas*/
    /*Fijate que ocupan las mismas columnas que ocupan en el prototipo de figma*/
    grid-template-areas: 
    "header-area header-area header-area header-area header-area header-area header-area header-area header-area header-area header-area header-area"
    ". . . . . . . portada-texto-area portada-texto-area portada-texto-area portada-texto-area ."
    "descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area descripcion-area"
    ". autores-area autores-area autores-area autores-area autores-area . . . . . ."
    ". reseñas-titulo-area reseñas-titulo-area reseñas-titulo-area reseñas-titulo-area reseñas-titulo-area . . . . . ."
    ". reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area reseñas-area ."
    "footer-area footer-area footer-area footer-area footer-area footer-area footer-area footer-area footer-area footer-area footer-area footer-area"
    ;
}

/*Borde negro para el header y el footer*/
header {
    border-bottom: 1px solid black;
    margin-top: 0;

    align-items: center;

    /*Asigna el área del header al header*/
    grid-area: header-area;

    /*Flex para ubicar la imagen del header*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-header {
    width: 100px;
    height: 100px;
}

footer{
    border-top: 1px solid black;
    margin-bottom: 0;

    /*Asigna el área del footer al footer*/
    grid-area: footer-area;
}

.portada{
    /*Asigna el área de la portada a la portada*/
    grid-area: portada-texto-area;
}

/*muestra las imágenes en el 100% de la pantalla*/
img {
    
    width: 100%;
}

.descripcion{

    /*Asigna el área de la descripcion a la descripcion*/
    grid-area: descripcion-area;
}

.autores-titulo{

    /*Asigna el área de los autores al área de los autores*/
    grid-area: autores-area;
}

.reseñas{

    grid-area: reseñas-titulo-area;
    margin-bottom: 31px;

}

/*Contenedor de las bullets*/
.contenedor-bullets{

    grid-area: reseñas-area;

    margin-top: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Bullets - intento d usar flexbox para hacer los bullets */
.bullet{
    
    text-align: center;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;

}

/*Imágenes de las bullets*/
.bullet img{
    
    width: auto;
}

